<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Logged in</title>


    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../styling.css" rel="stylesheet">

</head>

<body>
    <!-- data-spy="scroll" data-target=".navbar" data-offset="50" -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Alzheimer app</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a id="section1" href="#">Home</a>
                </li>
                <li>
                    <a id="section2" href="#">Our goal</a>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">

                    <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-log-in"> </span>Log out
                        <b class="caret"></b>
                    </a>
                </li>
            </ul>
            <!-- <li>
                    <a id ="section3"  href="#">Page 2</a>
                </li>
                <li>
                    <a id ="section4"  href="#">Page 3</a>
                </li> -->


        </div>
    </nav>
    <div class="jumbotron">

        <div class="container">

            <div class="content">

                <h1>Your patient data:</h1>

                <ul id="v-for-object" class="demo">
                    <li v-for="(value, key) in object">
                        {{ key }}: {{ value }}
                    </li>
                </ul>

                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ64XFclDJHkcRV_lUVr2pTvU&key=AIzaSyB6JsNfqv2GWVReEmVihMsOgswC0n2_Hkc"
                    allowfullscreen></iframe>

                    <ul id="v-for-object" class="demo">
                          
                        </ul>

            </div>


        </div>

    </div>
    <!-- <div class="img1">
          
          <div class="container">

              <div class="featured">
                  
                  <div class="row">
                      
                      <div class = "headers" >
                          <h1 id ="title1">Living with Alzheimer is hard.</h1>
                          <h2 id ="title2">Taking care of Alzheimer patient is hard.</h2>
                          <h3 id ="title3">We want to make it easier...</h3>
                      </div>
                  </div>
              </div>
          </div>
      
      </div>
      <div class="caption">
            <span class="border">Make it easier for caretakers...</span>
        </div>
      <div class="img2">
        <span class="feature">Live tracking - check anytime where your patient is. </span>
    </div>
    <div class="caption">
            <span class="border">With this:</span>
        </div>
        <span class="feature">Apple Watch based app: add "green zones" where your patient can be and recive alerts in case he's gone </span>

    <div class="img3"></div> -->


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/scripts.js"></script>
</body>

</html>