/*styling.css*/

body, html {
    height: 100%;
}

.img1 {
    background: url(https://images.pexels.com/photos/220448/pexels-photo-220448.jpeg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.img2 {
    background: url(https://images.pexels.com/photos/339620/pexels-photo-339620.jpeg);
    height: 200%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background: url(https://images.pexels.com/photos/437037/pexels-photo-437037.jpeg);
    height: 200%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-nav input { margin-bottom: 15px; }

.logo{
    width: 75px;
    height: 75px;
    display: none;
}

/* .headers {
    visibility: hidden;
} */

.glyphicon-log-in {
    margin-right: 10px;
}

.featured {
    color: #fff;
    padding-top: 25%;     
}

.caption {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #000;
}

.feature {
    position: absolute;
    margin: 50% 0;
    color: #eee;
    padding: 30px 80px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #000;
    opacity: 0.7;
    background: azure;
}

.border {
    color: #eee;
    background-color:#111;
    text-align:center;
    padding: 30px 80px;
    font-size: 30px;
    display: block
}

.dropdown-menu {
    background-color: currentColor;
}

.form .checkbox {
    color:white;
}



.featured .btn-default{
    font-weight: bold;
    color: white;
    background-color: rgba(145, 82, 58, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    width: 160px;
    margin-right: 15px;
}


.featured .btn-default:hover{
    background-color: rgb(145, 82, 58);   
}


.trial{
    text-align: center;
    padding: 20px 0 40px 0;
    color: black;
}


.trial img{
    width: 200px;
    height: 70px;
    margin: 20px;
}

/*style footer*/
.footer{
    background-color: #eee;
    font-size: 15px;
    padding: 10px 0;
}

/*/////////////////////////logged in css//////////////////*/

.content {
    /* border: #000 */
}


@media (min-width: 480px) and (max-width: 768px){
    .jumbotron{
        height: 410px;
        margin: 0;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .featured h1{
        padding-top:  30px;  
    }
    .featured p{
        font-size: 17px;   
    }
    .featured{
        text-align: center;
    }
}


@media (max-width: 480px){
    .jumbotron{
        height: 410px;
        margin: 0;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    .featured h1{
        padding-top:  10px;  
    }
    .featured p, .featured a{
        font-size: 13px;   
    }
    .featured{
        text-align: center;
    }
    .trial img{
        width: 100px;
        height: 35px;
        margin: 10px;
    }
}